<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unacknowledged Feedback</title>
  <meta name="unacknowledged-feedback-page" content="unacknowledged-feedback-page">
  <link rel="stylesheet" type="text/css" href="/static/css/display_unacfeedback.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
</head>
<body>
  <div class="heading-container">
    <h1 id="agent-name"></h1>
    <h2 id="feedback-id"></h2>
  </div>
  <div class="line"></div>
  <table class="details-table">
    <tr>
      <td><label>Reporting Manager:</label></td>
      <td><label id="reporting-manager"></label></td>
      <td><label>Feedback Type:</label></td>
      <td><label id="feedback-type"></label></td>

    </tr>
    <tr>
      <td><label>Incident Number:</label></td>
      <td><label id="incident-number"></label></td>
      <td><label>Conversation ID:</label></td>
      <td><label id="chat-id"></label></td>
    </tr>
    <tr>
      <td><label>Date:</label></td>
      <td><label id="date"></label></td>
      <td><label>Feedback By:</label></td>
      <td><label id="feedback-by"></label></td>
    </tr>
    <tr>
      <td colspan="4">
      <td<label id="feedback">Comments:</label></td>
    </tr>
  </table>
  <div class="col-10">
    <div class="rating"> 
        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
    </div>
    <div class="comment-area">
      <div class="comment-input">
        <textarea class="form-control" placeholder="Add your comments" rows="4"></textarea>
        <div class="button-container">
          <div class="btn"><a href="#" id="myButton" >I agree</a></div>
        </div>
        

      </div>
    </div>
  

</div>

  
  <script src="/static/JavaScript/display_unacknowledged._feedback.js"></script>
  <script src="/static/JavaScript/acknowledge.js"></script>

    
      
    

  


  
  
</body>
</html>
